@page
@model SPG_Fachtheorie.Aufgabe3.RazorPages.Pages.EventsModel
@section head {
}
<h1>Übersicht über die Events</h1>



<table>
    <thead>
        @foreach (var a in Model.EventsList.OrderBy(s => s.Name))
        {
        <th>@a.Name</th>
        <tr>
            <th>Showtermin</th>
            <th>Aktionen</th>
        </tr>
        <tbody>

                @foreach (var b in a.ShowDTOs.Where(s => s.Date > new DateTime(2024, 1, 16, 0, 0, 0)).OrderBy(s => s.Date))
                {
                <tr>
                        @if (b.Date.Month == 1)
                        {
                        <td class="justgreen">@b.Date.ToString("dd.MM.yyyy")</td>
                        <td class="justgreen"><a asp-page="/Contingents" asp-route-showId="@b.Id">Contigents</a></td>
                        }
                        @if (b.Date.Month != 1)
                        {
                        <td>@b.Date.ToString("dd.MM.yyyy")</td>
                        <td><a asp-page="/Contingents" asp-route-showId="@b.Id">Contigents</a></td>
                        }
                </tr>
                }
        </tbody>
        }
    </thead>
</table>